.login-form {
  max-width: 400px;
  margin: 5rem auto;
}

mat-form-field {
  display: block;
}

mat-card-actions {
  padding: 6px;
}

mat-spinner{
  margin: auto;
}

button {
  display: block;
  width: 100%;
}
